.container {
    text-align: center;
    font-size: var(--fontSize);
}

.navBtn {
    font-size: var(--fontSize);
    font-family: 'pokemon';
    margin-bottom: 10px;
    background-color: var(--btnColor);
    border-radius: 15px;
    border-width: 5px;
    border-color: var(--btnBorderColor);
    cursor: pointer;
}