.pokeBtn {
    display: inline-block;
    font-size: 28px;
    border-radius: 15px;
    border-width: 5px;
    cursor: pointer;
    transition-duration: 200ms;
    font-family: 'pokemon';
    text-align: left;
    background-color: rgb(228 57 61);
    border-color: rgb(47, 47, 47);
}

button:hover {
    background-color: rgb(245, 168, 176);
    border-color: rgb(252, 13, 27);
}

.pokeContent {
    display: flex;
    align-items: center;
}

#image {
    width: 100px;
    height: 100px;
}

:root {
    --type1Color: #000000;
    --type2Color: #000000;
}

.typeBackground {
    background-image: linear-gradient(180deg, var(--type1Color, grey) 50%, var(--type2Color, white) 50%);
}