.pokeBtn {
    display: inline-block;
    font-size: 28px;
    border-radius: 15px;
    border-width: 5px;
    cursor: pointer;
    transition-duration: 200ms;
    font-family: 'pokemon';
    text-align: left;
    background-color: rgb(228 57 61);
    border-color: rgb(47, 47, 47);
}

.pokeContent {
    display: flex;
    align-items: center;
}

#image {
    width: 100px;
    height: 100px;
}

img[src=""] {
    content: url("https://i.pinimg.com/originals/81/ce/66/81ce669b7d745ce8537c9e2599d40948.png");
}


:root {
    --type1Color: #000000;
    --type2Color: #000000;
    --type1Dark: #000000;
    --type2Dark: #000000;
}

.typeBackground {
    background-image: linear-gradient(180deg, var(--type1Color, grey) 50%, var(--type2Color, white) 50%);
}

button:hover {
    background-image: linear-gradient(180deg, var(--type1Dark, grey) 50%, var(--type2Dark, white) 50%);
    border-color: rgb(252, 13, 27);
}