.container {
    width: calc(33% - 20px);
    display: inline-block;
    margin: 10px;
}


@media(max-width: 1000px) {
    .container {
        width: calc(50% - 20px);
    }
}

@media(max-width: 600px) {
    .container {
        width: calc(100% - 20px);
    }
}

a {
    text-decoration: none;
    cursor: default;
}