<div class="center">
    <select [(ngModel)]="selectedGeneration" (change)="genSelect()">
        <option *ngFor="let generation of generations">{{generation}}</option>
    </select>
    <app-loader [showLoader]="isLoading"></app-loader>
</div>

<div *ngIf="pokeList">
    <div class="container" *ngFor="let pokemon of pokeList">
        <a routerLink="/details" [queryParams]="{'name':pokemon.name, searchResult: true}">
            <app-poke-item [pokemon]="pokemon"></app-poke-item>
        </a>
    </div>
</div>