@font-face {
    font-family: 'pokemontitle';
    src: url('../assets/title.ttf');
}

@font-face {
    font-family: 'pokemon';
    src: url('../assets/pokeFont.ttf');
}

#title {
    font-size: 50px;
    font-family: 'pokemontitle';
    color: yellow;
}

#header {
    text-align: center;
}

// .container {

// }