@font-face {
    font-family: 'pokemon';
    src: url('../../assets/pokeFont.ttf');
}


button {
    display: inline-block;
    font-size: 28px;
    border-radius: 15px;
    border-width: 5px;
    cursor: pointer;
    transition-duration: 200ms;
    font-family: 'pokemon';
    text-align: left;
    background-color: rgb(228 57 61);
    border-color: rgb(47, 47, 47);
}

button:hover {
    background-color: rgb(245, 168, 176);
    border-color: rgb(252, 13, 27);
}

.container {
    width: calc(33% - 20px);
    display: inline-block;
    margin: 10px;
}

.pokeContent {
    display: flex;
    align-items: center;
}

@media(max-width: 1000px) {
    .container {
        width: calc(50% - 20px);
    }
}

@media(max-width: 600px) {
    .container {
        width: calc(100% - 20px);
    }
}