button {
    background-color: #a45fbc;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 36px;
    margin: 4px 2px;
    border-radius: 8px;
    cursor: pointer;
    transition-duration: 200ms;
}

button:hover {
    background-color: rgb(114, 28, 64);
}