.container {
    border: 5px;
    border-radius: 50px;
    border-style: dotted;
    margin: 20px;
}

.container h3 {
    font-size: 30px;
}

#type {
    color: var(--typeColor)
}

i {
    color: #ff5050
}

#desc {
    height: 55px;
}