<div style="text-align: center;">
    <button routerLink="" [queryParams]="{'page':currentPage?.currentPage}" id="pokeLink">Back To List</button>
    <app-page [lastPage]="lastPage" [currentPage]="getPageOffset() + currentPokemonNum" (nextClicked)="loadNext()"
        (prevClicked)="loadPrev()"></app-page>
</div>
<div class="container" *ngIf="currentPokemon">
    <div>
        <h1>Name: <i>{{formatName(currentPokemon.name)}}</i></h1>

        <div id="types">
            <h1 class="type1">{{formatName(currentPokemon.types[0].name)}}</h1>
            <h1 *ngIf="currentPokemon.types[1]">&nbsp;|&nbsp;</h1>
            <h1 *ngIf="currentPokemon.types[1]" class="type2">
                {{formatName(currentPokemon.types[1].name)}}</h1>
        </div>

        <h3>Weight: <i>{{currentPokemon.weight}}</i></h3>
        <h3>Height: <i>{{currentPokemon.height}}</i></h3>
        <h3>Base Experience: <i>{{currentPokemon.baseExp}}</i></h3>
        <h3>ID: <i>{{currentPokemon.id}}</i></h3>
        <img src="{{currentPokemon.image[0]}}" />
        <img src="{{currentPokemon.image[1]}}" />

        <h2>Moves:</h2>
        <div *ngFor="let move of currentPokemon.moves">
            <h3>{{move.formattedName}}</h3>
            Accuracy: <i>{{move.accuracy}}</i> | Power: <i>{{move.power}}</i> | PP: <i>{{move.pp}}</i>
            <br>
            Description: "{{move.desc}}"
        </div>
    </div>
</div>