.container {
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    margin-left: 20%;
    margin-right: 20%;
    background-color: bisque;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}